.rainbow__btn {
  /* width: calc(20vw + 6px);
  height: calc(8vw + 6px); */

  text-decoration: none;
  color: #fff;
  width: 110px;
  height: 30px;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #302244;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border: 1px solid #f43f5e;
}

.buttonBackground {
  background: linear-gradient(
    90deg,
    #44ff9a -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #ff6644 73.33%,
    #ebff70 99.34%
  );
  width: 110px;
  height: 30px;
  filter: blur(10px);
  border-radius: 10px;
  position: absolute;
  z-index: 0;
}
