.navLeft {
  display: flex;
  justify-content: space-between;
  width: 25%;
  padding-left: 2%;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 2%;
  margin-top: 2%;
}

.links {
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.slash {
  color: #f43f5e;
  margin-right: 5px;
}

.button {
  background-color: #302244;
  border: 1px solid #f43f5e;
  cursor: pointer;
  padding: 7px;
  color: white;
  border-radius: 10px;
}

.linkContainer {
  width: 50px;
}

.linkWrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 4%;
}

.logo {
  cursor: pointer;
}

.modal {
  background-color: #343436;
  height: 500px;
  width: 500px;
}

.profileImage {
  border-radius: 60px;
  width: 50px;
  height: 50px;
}

.profileWrapper {
  display: flex;
  justify-content: space-around;
  width: 12%;
}

.displayname {
  margin-top: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
