.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px;
}

.container {
  max-width: 536px;
  /* margin-left: 2%; */
  /* margin-top: 5%; */
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy {
  margin-bottom: 6%;
  size: 18px;
  line-height: 24px;
}

.slash {
  color: #f43f5e;
  margin-right: 5px;
  width: 50px;
}

.header {
  display: flex;
}

.headerText {
  margin-left: 1%;
  margin-top: 1%;
  font-size: 35px;
  margin-bottom: 31px;
  font-weight: bolder;
}

.moreInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreInfo__left {
  flex: 0.5 0.5;
}

.moreInfo__left_heading {
  font-size: 35px;
  margin-bottom: 31px;
  font-weight: bolder;
}

.moreInfo__left_subheading {
  font-size: 17px;
  font-weight: normal;
  color: #f5f5f5e3;
}

.codeImg {
  object-fit: contain;
}
