.profile__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profilePic__wrapper {
  max-width: 176px;
  max-height: 176px;
  width: 100%;
  margin-top: 50px;
}

.profilePic__img {
  object-fit: cover;
  border-radius: 50%;
}

.info {
  text-align: center;
  margin-top: 20px;
}

.info__name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 152% */

  text-align: center;

  /* gray/900 */
}

.info__add {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgb(152, 152, 152);
}

.btnContain {
  margin-top: 30px;
}
.add__info {
  appearance: button;
}

.add__info {
  text-decoration: none;
  color: #fff;
  width: 110px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #302244;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border: 1px solid #f43f5e;
}

.modal {
  background-color: #343436;
  max-height: 300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.modal__form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
}

.modal_heading {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 20px;
}

.modal__inputContainer {
  width: 90%;
}
.label {
  font-weight: 600;
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}
.formInput {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(229, 232, 235);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.submit__btn {
  /* display: none; */
  border-radius: 10px;
  width: 111px;
  height: 36px;
  font-weight: bolder;
}

.buttonBackground {
  background: linear-gradient(
    90deg,
    #44ff9a -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #ff6644 73.33%,
    #ebff70 99.34%
  );
  width: 110px;
  height: 30px;
  filter: blur(10px);
  border-radius: 10px;
  position: absolute;
  z-index: 0;
}
